---
import PageLayout from 'layout:Page';
import Container from 'component:atoms/Container';

let title = "Page d'accueil";
let lang = 'fr';
---
<PageLayout title={title} lang={lang}>

		<Container>

			<h1>Astro &amp; Tailwind starter</h1>

		</Container>

</PageLayout>
