---
const {lang = 'en', title = 'untitled'} = Astro.props;
---
<html lang={lang}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>
</head>
<body>
	
    <slot />

</body>
</html>